body.homepage   { background: url(../images/wrap-bg.png) repeat-x #7de0f1;}
.homepage .main-content   { position: relative;}
.slider1 { position: relative;}
.slider1 #slider1_container { width: 1280px; height: 558px;}
#slider1_container .slider  { position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1280px; height: 558px;}
#slider1_container .bullet  { position: absolute; top: 520px; left: 49%;}
#slider1_container .bullet>div  { cursor: pointer; WIDTH: 20px; HEIGHT: 19px; text-align:center; line-height:19px; font-size:12px; background:url(../images/dot-slider.png) no-repeat -20px 0;}
#slider1_container .bullet>div.av  { background-position: 0 0;}
.title-banner   { font-family: UVNSaigon; font-size: 30px; line-height: 36px; font-weight:normal;}
.slide1 .caption    { position: absolute; z-index:1; width: 450px; top:200px; left: 155px;}
.slide1 .title-banner   { color:#005986; text-align:left;}
.slide1 .button { margin-left:0;}
.slide2 .caption    { position: absolute; z-index:1; padding: 0 0 0 750px; margin-top: 185px; color:#004479;}
.slide2 .caption .button1   { margin:40px 0 10px 0;}
.slide2 .caption .italic    { color:#005e9a;}
#slider1_container .jssora21l, #slider1_container .jssora21ldn { position: absolute; top: 225px; left:0; background: url(../images/left-arrow.png) no-repeat; width: 34px; height: 140px; cursor: pointer;}
#slider1_container .jssora21r, #slider1_container .jssora21rdn { position: absolute; top: 225px; right:0; background: url(../images/right-arrow.png) no-repeat; width: 34px; height: 140px; cursor: pointer;}
#slider1_container .jssora21l .arrow, #slider1_container .jssora21ldn .arrow  { background: url(../images/icon-left-arrow.png) no-repeat center center; display: block; width: 100%; height: 100%; transition: all 0.5s ease 0s;}
#slider1_container .jssora21r .arrow, #slider1_container .jssora21rdn .arrow  { background: url(../images/icon-right-arrow.png) no-repeat center center; display: block; width: 100%; height: 100%; transition: all 0.5s ease 0s;}
@keyframes animatedBtLeft {
    0% { background-position: 5px center; }
    100% { background-position: 15px center; }
}
@-moz-keyframes animatedBtLeft {
    0% { background-position: 5px center; }
    100% { background-position: 15px center; }
}
@-webkit-keyframes animatedBtLeft {
    0% { background-position: 5px center; }
    100% { background-position: 15px center; }
}
@-ms-keyframes animatedBtLeft {
    0% { background-position: 5px center; }
    100% { background-position: 15px center; }
}
@-o-keyframes animatedBtLeft {
    0% { background-position: 5px center; }
    100% { background-position: 15px center; }
}
@keyframes animatedBtRight {
    0% { background-position: 10px center; }
    100% { background-position: 20px center; }
}
@-moz-keyframes animatedBtRight {
    0% { background-position: 10px center; }
    100% { background-position: 20px center; }
}
@-webkit-keyframes animatedBtRight {
    0% { background-position: 10px center; }
    100% { background-position: 20px center; }
}
@-ms-keyframes animatedBtRight {
    0% { background-position: 10px center; }
    100% { background-position: 20px center; }
}
@-o-keyframes animatedBtRight {
    0% { background-position: 10px center; }
    100% { background-position: 20px center; }
}
#slider1_container .jssora21l:hover .arrow, #slider1_container .jssora21ldn:hover .arrow    { background-position: 5px center;}
#slider1_container .jssora21r:hover .arrow, #slider1_container .jssora21rdn:hover .arrow    { background-position: 15px center;}
.quytrinhsx { background: url(../images/bg-process.jpg) top center no-repeat; color:#FFF; height: 400px; position: relative;}
.quytrinhsx .block-title    { margin: 0 0 30px 0; padding-top: 80px; color:#FFF;}
.quytrinhsx .block-content .button2 { margin-left:0;}
.quytrinhsx .cow-element, .quytrinhsx .famer-element    { position: absolute; transition: all 0.5s ease 0s; webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; o-transition: all 0.5s ease 0}
.quytrinhsx .cow-element    { width: 620px; height:240px; background: url(../images/cow.png) no-repeat bottom right; bottom:0; right:15px;}
.quytrinhsx:hover .cow-element  { right: 5px;}
.quytrinhsx .famer-element  { width: 265px; height:440px; background: url(../images/famer.png) no-repeat 0 15px; bottom:0; right:160px;}
.quytrinhsx:hover .famer-element  { right: 170px;}
.content2    { background: url(../images/bg-products.jpg) no-repeat; width: 100%; height:400px; position: relative; overflow: hidden;}
.slide3 { text-align: left; position: relative;}
.slide3 .button { margin-left:0;}
.slide3 h2, .slide3 h3  { margin:0;}
.slide3 .block-title   { color:#006ca3; padding-top:80px; font-size:28px;}
.slide3 .title-product  { margin:0 0 15px 0; background: url(../images/blue-line.png) no-repeat bottom left; padding: 40px 0 20px 0;}
.slide3 .title-product,.slide3 .title-product a    { font-size: 18px; text-transform: uppercase; }
.slide3 .img-product    { position: absolute; top:100px; right:-20px; width: 700px; height: 280px;}
.slide3 .next { position: absolute; top: 200px; right:0; background: url(../images/arrow-icon2.png) no-repeat 0 0; z-index: 1;}
.slide3 .next a { width: 46px; height: 46px; cursor: pointer; text-indent: -10000px; display: block;}
.content3   { background: url(../images/bg-chuyengia.jpg) no-repeat top center; height: 400px;}
.content3 .block-title { margin: 0 0 30px 0; color:#006ca3;}
.content3 .button   { margin:30px 0 0 0;}
.content3 .caption  { padding-top: 75px;}
.content4   { background: url(../images/bg-ankastory.jpg) no-repeat top center; height: 400px;}
.content4 .caption  { text-align: center;}
.content4 .block-title { margin: 0 0 30px 0; color:#006ca3; font-weight:bold; padding-top: 50px;}
#boutique   { display: none; margin: 0 auto;}
#boutique h6    {text-indent: -10000px;}
#boutique img   { width:auto !important;}
.boutique   { margin:0; padding:0; position:relative; z-index:1 }
.boutique li{ margin:0; padding:0; list-style:none; position:absolute; z-index:1; display:none; border-width:0 }
.boutique img{ border:0; vertical-align:bottom }
.boutique span{ display:block; position:absolute; left:0; right:0; bottom:0; text-align:left; cursor:default; margin:0 }
.boutique h6{ cursor:default }
.boutique a, .boutique a:hover{ cursor:default; text-decoration:none; outline:none }
.boutique img, .boutique li, .boutique a{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.boutique.rtl h6, .boutique.rtl span{ text-align:right }
.boutique li    { margin: 0 10px;}
.boutique li.frame1, .boutique li.frame2    { display: none !important;}